body{
  margin: 0px;
  padding: 0px;
  background: #222222;
}
#myCanvas{
  position: absolute;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
#canvas{
  background: #ffffff;
  position: absolute;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}
#winCanvas{
  background: #ffffff;
  position: absolute;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#instructions {
  background: #ffffff;
  position: absolute;
  margin-top:851px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
